body {
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
	font-family: "Kumbh Sans", sans-serif;
	font-size: 12px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	height: 80vh;
	width: 70vw;
	background-color: aliceblue;
	border-radius: 8px;
	display: flex;
	justify-content: flex-start;
}

.images {
	width: 50%;
	display: flex;
	align-items: center;
    position: relative;
}

.content {
	width: 50%;
}

.image1 {
	background-repeat: no-repeat;
	width: 40em;
	height: 35em;
	background-image: url("../images/illustration-woman-online-desktop.svg");
    position: absolute;
    right: 0px
}

.image2 {
    background-image: url("../images/illustration-box-desktop.svg");
    width: 12em;
    height: 10em;
    position: absolute;
    background-repeat: no-repeat;
    top: 15em;
    right: 28.5em;
}

.image3 {
    height: 40em;
    width: 40em;
}

.image3 img {
    width: 190%;
    min-height: 80%;
    position: absolute;
    top: -160px;
    right: 25px;
}
